*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
.rvmrc
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.sass-cache

*.sass-cache*

/bin

*.un~
*.DS_Store
